html {
    font: 16.5%;
}


body {
    background-image: URL(./image/jelly.jpg);
    height: 100%;
    background-size cover;
    display: flex;
    flex: 1;
    align-items: center;
}

.clock {
    position: relative;
    border-radius: 100%;
    height: 10rem;
    width: 10rem;
    margin: 5rem auto;
    top: 5rem;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #efefef;
    border:10px solid white ;
    padding: 2rem;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand{
    width: 50%;
    height: 6px;
    background: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
